<ion-content [fullscreen]="true" class="flex items-center justify-center bg-purple-100">
  <!-- Contenedor de la imagen -->
  <div class="w-full max-w-sm bg-blue-100 flex justify-center items-center pt-16 pb-10 relative">
    <img src="../../assets/icon/perritos1.png" alt="Dog Logo" class=" shadow-lg">
  </div>

  <!-- Contenedor del formulario con borde redondeado y superposición -->
  <div class="relative bg-white rounded-t-3xl max-w-sm w-full px-6 pt-8 pb-10 -mt-16 z-10">
    <!-- Texto de bienvenida -->
    <div class="text-center mb-6">
      <h2 class="text-xl font-semibold text-blue-700">Éstetica Canina Platón</h2>
      <p class="text-gray-500">Inicia sesión para continuar</p>
    </div>

    <!-- Formulario de login -->
    <form (ngSubmit)="onSubmit()" class="space-y-4">
      <div>
        <input
          type="text"
          [(ngModel)]="email"
          name="email"
          placeholder="Email"
          data-testid="email-input"
          class="w-full p-3 border border-blue-500 rounded-3xl focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
      </div>

      <div class="relative">
        <input
          [type]="passwordVisible ? 'text' : 'password'"
          [(ngModel)]="password"
          name="password"
          placeholder="Password"
          data-testid="password-input"
          class="w-full p-3 border border-blue-500 rounded-3xl focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        <button
          type="button"
          (click)="togglePasswordVisibility()"
          class="absolute inset-y-0 right-3 flex items-center text-gray-500"
        >
          <ion-icon [name]="passwordVisible ? 'eye-outline' : 'eye-off-outline'" class="w-5 h-5"></ion-icon>
        </button>

      </div>

      <div class="text-end">
        <a href="recuperarcontra" class="text-blue-500 text-sm hover:underline">¿Olvidaste tu contraseña?</a>
      </div>

      <!-- Botón de inicio de sesión -->
      <button
        type="submit"
        data-testid="login-submit-button"
        expand="block"
        class="w-full mt-5 bg-blue-500 text-white py-3 rounded-3xl hover:bg-blue-600 transition-colors"
        style="text-transform: none; font-size: 1rem; font-weight: 500;"
      >
        Sign in
      </button>

      <div class="text-center text-sm text-gray-500 mt-4">
        ¿Sin cuenta? <a href="registro" class="text-blue-500 hover:underline">Registrate</a>
      </div>
    </form>
  </div>
</ion-content>
