<div class="min-h-screen p-4">
  <!-- Encabezado del carrito -->
  <div class="flex justify-between items-center mb-4 mt-2">
    <ion-icon (click)="closeModal()" name="chevron-back-outline" class="h-6 w-6" ></ion-icon>
    <h1 class="text-2xl font-bold text-blue-600">Detalle Servicio</h1>
    <div></div> <!-- Espacio para mantener el diseño centrado -->
  </div>
  <!-- Tarjeta del servicio -->
  <div class="bg-white rounded-lg p-4">
    <!-- Imagen del servicio -->
    <img [src]="servicio.imagen" alt="Corte de Pelo" class="w-full h-48 object-cover rounded-lg mb-4">
    
    <!-- Título y calificación -->
    <div class="flex justify-between items-center mb-2">
      <h3 class="text-md font-semibold text-gray-700">{{servicio.nombre}}</h3>
      <div class="flex items-center">
        <ion-icon name="star" class="text-yellow-500"></ion-icon>
        <ion-icon name="star" class="text-yellow-500"></ion-icon>
        <ion-icon name="star" class="text-yellow-500"></ion-icon>
        <ion-icon name="star" class="text-yellow-500"></ion-icon>
        <ion-icon name="star-outline" class="text-yellow-500"></ion-icon>
      </div>
    </div>

    <!-- Descripción del servicio -->
    <p class="text-sm text-gray-600 mb-4 leading-loose">
      {{servicio.descripcion}}
    </p>

    <!-- Precio y duración -->
    <div class="flex justify-between items-center mb-4">
      <p class="text-lg font-bold text-gray-700">${{servicio.costo}}</p>
      <div class="flex items-center text-gray-500">
        <ion-icon name="time-outline" class="mr-1"></ion-icon>
        <span>30 min</span>
      </div>
    </div>

    <!-- Botón para agendar cita -->
    <button class="w-full mt-10 bg-blue-500 text-white py-3 rounded-lg hover:bg-blue-600 transition-colors">
      Agendar cita
    </button>
  </div>
  
</div>


