<ion-content [fullscreen]="true">
  <div class=" flex items-center p-2 justify-center ">
    <div class="bg-white p-6 rounded-lg  max-w-md w-full">
      <div class="flex justify-center">
        <img src="../../assets/icon/logo_perro.png" alt="Dog Logo" class="w-[150px] h-[120px] mt-10 mb-2">
      </div>
      <h1 class="font-bold mb-8 text-2xl text-center">Recuperar contraseña</h1>

      <p class="text-lg text-gray-600 mb-4 ml-3 mt-5">Codigo de verificación</p>
      <form class="space-y-4">
        <div class="flex justify-between">
          <input size="1" class="w-[60px] p-3 border border-blue-500 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500">
          <input size="1" class="w-[60px] p-3 border border-blue-500 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500">
          <input size="1" class="w-[60px] p-3 border border-blue-500 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500">
          <input size="1" class="w-[60px] p-3 border border-blue-500 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>
       
        <div class="">
          <ion-button style="text-transform: none;" class="w-full mt-8" shape="round">Enviar </ion-button>
        </div>
        
      </form>
    </div>
  </div>
</ion-content>