
<ion-content [fullscreen]="true">
  <div class="min-h-screen bg-gray-100 p-4">
    <!-- Encabezado de la página -->
    <div class="flex justify-between items-center mb-4">
      <ion-icon name="chevron-back-outline"></ion-icon>
      <h1 class="text-2xl font-bold text-blue-600">Mis citas</h1>
      <div></div> <!-- Espacio para mantener el diseño centrado -->
    </div>
  
    <!-- Tarjeta de cita 1 -->
    <div class="bg-white p-4 rounded-lg shadow-lg mb-4 flex justify-between items-center">
      <div>
        <h3 class="text-lg font-bold text-gray-800">Corte de pelo</h3>
        <p class="text-sm text-gray-600">ID Cita: 134</p>
        <p class="text-sm text-gray-600">Fecha: 2024-07-23</p>
        <p class="text-sm text-gray-600">Hora: 10:00:00</p>
        <p class="text-sm text-gray-600">Teléfono: 7711853897</p>
        <p class="mt-2 text-sm text-gray-800">Estado: <span class="font-semibold text-yellow-500">Pendiente</span></p>
      </div>
      <div class="flex space-x-4">
        <!-- Botón de editar -->
        <ion-icon name="create-outline" class="text-xl text-gray-600 cursor-pointer"></ion-icon>
        <!-- Botón de eliminar -->
        <ion-icon name="trash-outline" class="text-xl text-red-600 cursor-pointer"></ion-icon>
      </div>
    </div>
  
    <!-- Tarjeta de cita 2 -->
    <div class="bg-white p-4 rounded-lg shadow-lg mb-4 flex justify-between items-center">
      <div>
        <h3 class="text-lg font-bold text-gray-800">Corte de uñas</h3>
        <p class="text-sm text-gray-600">ID Cita: 141</p>
        <p class="text-sm text-gray-600">Fecha: 2024-08-08</p>
        <p class="text-sm text-gray-600">Hora: 09:00:00</p>
        <p class="text-sm text-gray-600">Teléfono: 7711853897</p>
        <p class="mt-2 text-sm text-gray-800">Estado: <span class="font-semibold text-green-500">Activo</span></p>
      </div>
      <div class="flex space-x-4">
        <!-- Botón de editar -->
        <ion-icon name="create-outline" class="text-xl text-gray-600 cursor-pointer"></ion-icon>
        <!-- Botón de eliminar -->
        <ion-icon name="trash-outline" class="text-xl text-red-600 cursor-pointer"></ion-icon>
      </div>
    </div>
  </div>
  
</ion-content>
