
<ion-content [fullscreen]="true">
  <div class=" flex items-center p-2 justify-center ">
    <div class="bg-white p-6 rounded-lg  max-w-md w-full">
      <div class="flex justify-center mb-4">
        <img src="../../assets/icon/logo_perro.png" alt="Dog Logo" class="w-[150px] h-[120px] mt-10 mb-2">
      </div>
      <h1 class="font-bold text-2xl text-center mb-8">Recuperar Contraseña</h1>
      <form class="space-y-4">
        <div class="relative">
          <label class="ml-4 mb-2">Contraseña</label>
          <input type="password" placeholder="Contraseña" class="mt-2 w-full p-3 border border-blue-500 rounded-3xl focus:outline-none focus:ring-2 focus:ring-blue-500">
          <button type="button" class="absolute inset-y-0 right-3 mt-8 flex items-center text-gray-500">
            <!-- Icono de ojo aquí, puedes reemplazar con el ícono adecuado -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.477 0 8.268 2.943 9.542 7-.446 1.511-1.12 2.91-2 4-1.743 1.947-4.197 3-6.542 3-2.345 0-4.8-1.053-6.542-3-.88-1.09-1.554-2.489-2-4z"/>
            </svg>
          </button>
        </div>
        <div class="relative">
          <label class="ml-4 mb-2">Contraseña</label>
          <input type="password" placeholder="Contraseña" class="mt-2 w-full p-3 border border-blue-500 rounded-3xl focus:outline-none focus:ring-2 focus:ring-blue-500">
          <button type="button" class="absolute inset-y-0 right-3 mt-8 flex items-center text-gray-500">
            <!-- Icono de ojo aquí, puedes reemplazar con el ícono adecuado -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.477 0 8.268 2.943 9.542 7-.446 1.511-1.12 2.91-2 4-1.743 1.947-4.197 3-6.542 3-2.345 0-4.8-1.053-6.542-3-.88-1.09-1.554-2.489-2-4z"/>
            </svg>
          </button>
        </div>

        <div class="">
          <ion-button style="text-transform: none;" class="w-full mt-5" shape="round">Restablecer</ion-button>
        </div>

      </form>
      
    </div>
  </div>
</ion-content>
