
<ion-content [fullscreen]="true">
  <div class=" flex items-center p-2 justify-center ">
    <div class="bg-white p-6 rounded-lg  max-w-md w-full">
      <div class="flex justify-center mb-4">
        <img src="../../assets/icon/logo_perro.png" alt="Dog Logo" class="w-[150px] h-[120px] mt-10 mb-2">
      </div>
      <h1 class="font-bold text-2xl text-center mb-8">Recuperar Contraseña</h1>
      <form (submit)="verificarPassword()" class="space-y-4">
        <div class="relative">
          <label class="ml-4 mb-2">Contraseña</label>
          <input [type]="passwordVisible ? 'text' : 'password'" [(ngModel)]="password" name="nuevopassword" placeholder="Contraseña" class="mt-2 w-full p-3 border border-blue-500 rounded-3xl focus:outline-none focus:ring-2 focus:ring-blue-500">
          <button (click)="togglePasswordVisibility()" type="button" class="absolute inset-y-0 right-3 mt-8 flex items-center text-gray-500">
            <!-- Icono de ojo aquí, puedes reemplazar con el ícono adecuado -->
            <ion-icon *ngIf="passwordVisible" name="eye-outline"></ion-icon>
            <ion-icon *ngIf="!passwordVisible"  name="eye-off-outline"></ion-icon>
          </button>
        </div>
        <div class="relative">
          <label class="ml-4 mb-2">Contraseña</label>
          <input [type]="passwordVisible ? 'text' : 'password'" name="passwordVerified" [(ngModel)]="passwordVerified"  type="password" placeholder="Contraseña" class="mt-2 w-full p-3 border border-blue-500 rounded-3xl focus:outline-none focus:ring-2 focus:ring-blue-500">
          <button (click)="togglePasswordVisibility()" type="button" class="absolute inset-y-0 right-3 mt-8 flex items-center text-gray-500">
            <!-- Icono de ojo aquí, puedes reemplazar con el ícono adecuado -->
            <!-- Icono de ojo aquí, puedes reemplazar con el ícono adecuado -->
            <ion-icon *ngIf="passwordVisible" name="eye-outline"></ion-icon>
            <ion-icon *ngIf="!passwordVisible"  name="eye-off-outline"></ion-icon>
          </button>
        </div>

        <div class="">
          <ion-button type="submit" style="text-transform: none;" class="w-full mt-5" shape="round">Restablecer</ion-button>
        </div>

      </form>
      
    </div>
  </div>
</ion-content>
